<!-- core.js:7246 WARNING: sanitizing HTML stripped some content, see http://g.co/ng/security#xss -->
<!-- <div [innerHTML]="xss"></div> -->

<table class="table is-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Word Count</th>
      <th>Snippet</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let page of pages">
      <td>
        <a target="_blank" [href]="'https://en.wikipedia.org?curid=' + page.pageid">{{ page.title }}</a>
      </td>
      <td>{{ page.wordcount }}</td>
      <!-- per evitare Xss angular purifica codice con innerHtml renderizza in sicurezza html -->
      <td [innerHTML]="page.snippet"></td>
    </tr>
  </tbody>
</table>
